{% extends 'base.html' %}

{% block content %}

{% comment %} 
model Invoice

customer: foreignKey
save_by: foreignKey
invoice_date_time
total
paid
last_updated_date
invoice_type
comment
{% endcomment %}

<br><br>

<h1 class="text-capitalize text-center mx-10 bg-dark text-white">Register a new invoice</h1>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="gender">customer</label>
            <select name="customer" class="form-control" required id="customer">
                <option>Choose the customer ..</option>
                <option value="M">Male</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="gender">save by</label>
            <select name="save_by" class="form-control" required id="save_by">
                <option> Save_by..</option>
                <option value="M">Male</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="total">Total</label>
            <input name="total" required type="number" class="form-control" id="total" placeholder=" invoice total">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="address">Address</label>
            <input name="address" required type="text" class="form-control" id="address"
                placeholder=" customer address">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city">City</label>
            <input name="city" required type="text" class="form-control" id="city" placeholder=" customer city">
        </div>
        <div class="form-group col-md-6">
            <label for="zip">Zip</label>
            <input name="zip" type="text" class="form-control" id="zip" placeholder=" customer zip">
        </div>
    </div>
    <br>
    <button type="submit" class="btn col-md-4 btn-primary">Save</button>
</form>
<br><br><br>
{% endblock content %}